/* Styles General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background: linear-gradient(135deg, #161661, #0f0f36);
  background-attachment: fixed; /* fix le background à l'endroit */
  background-size: cover;
}

/* Styles du Header */
header {
  background-color: #333; 
  color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

nav a {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s; 
}

nav a:hover {
  color: #ff6600;
}

/* Styles de contenu */
#big {
  font-size: 80px;
  text-align: center;
  color: #5dd1ff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
}

main {
  padding: 40px;
  color: #a4e5ff;
  max-width: 1200px;
  margin: auto;
  line-height: 1.6;
}

#text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  color: #e6f7ff;
}

#midt {
  font-size: 50px;
  text-align: center;
  color: #5dd1ff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}


.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px 20px 0;
}
p {
  text-transform: uppercase;
  color: #222;
  font-weight: 900;
  color: transparent;
  font-size: 0px;
}
p span {
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-size: clamp(20px, 8vw, 120px);
}
p span::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
p:nth-child(1) {
  font-weight: 300;
  animation: txt-appearance 0s 1s forwards;
}
p:nth-child(2) {
  animation: txt-appearance 0s 1.25s forwards;
}
p:nth-child(1) span::after {
  background-image: url(https://raw.githubusercontent.com/BoZhang-dev/Agora-TSTI_games-web/refs/heads/main/objets/icons/batch-0---random-assets-5-high-resolution-logo-transparent.png);background-size:cover ;
  animation: slide-in 2s ease-out forwards,
  slide-out 2s 1s ease-out forwards;
}
p:nth-child(2) span::after {
  background: royalblue;
  animation: slide-in 2s 0.3s ease-out forwards,
  slide-out 2s 1.3s ease-out forwards;
}

@keyframes slide-in {
  100% {
      transform: translateX(0%);
  }
}
@keyframes slide-out {
  100% {
      transform: translateX(100%)
  }
}
@keyframes txt-appearance {
  100% {
      color: #5dd1ff;
  }
}

#img {
  width: 125px;
  height: auto;
}









