/* Styles General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background: linear-gradient(135deg, #161661, #0f0f36);
  background-attachment: fixed; /* fix le background à l'endroit */
  background-size: cover;
}

/* Styles du Header */
header {
  background-color: #333;
  color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between; /* distribuer les espaces entre contenu */
}

nav a {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

nav a:hover {
  color: #ff6600;
}

/* Styles du bar de recherche */
#search-bar {
  padding: 8px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
}

/* Styles "Chargement" Overlay */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Couleur noir semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Se superposer sur tout les contenus */
  visibility: hidden; /* Cacher par défaut */
}

.loading-text {
  font-size: 2em;
  color: #ff6600;
  text-align: center;
}

/* Styles de contenu */
main {
  padding: 20px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

#loading-message {
  text-align: center;
  font-size: 1.2em;
}

/* Styles du game card */
.game-card {
  background-color: #004883;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  color: white;
  transition: background-color 0.3s ease;
}

.game-card img {
  width: 100%;
  height: auto;
}

.game-card h3 {
  padding: 20px 10px;
  font-size: 1.1em;
  color: #ffffff;
}

.game-card p {
  padding: 5px 10px;
  font-size: 0.9em;
  color: #ffffff;
}

.game-card:hover {
  background-color: #4c3a75;
}

/* Bouton "Afficher Plus" */
.show-more-button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin: 20px auto;
  display: block;
}

.show-more-button:hover {
  background-color: #ff8533;
}
