#background{
    background-image: url("\\\\SRV-DC\\bzhang$\\Documents\\TSTI\\SIN\\Sequence 2\\codes and stuffs\\Agora-TSTI_games-web\\objets\\background\\background.png") ;
    background-color: #1f2833;
  }
  
  #button-menu{
    padding: 12px 24px; background-color: #30beb7; font-size: 20px;
  }
  
  #button-connexion{
    padding: 8px 18px; background-color: #31dad1; font-size: 20px;
  }

  #h1style{
    display:flex; 
    justify-content: center; 
    align-items: center;
    color: #66FCF1;
    font-size: 50px;
  }
  
  #title-style{
    font-size: 38px;
    padding: 6px;
    color: #42a4f5;
  }
  #text-style{
    font-size: 24px;
    color: #cee7ff;
    text-align: right;
  }
  
