#background{
  background-image: url("\\\\SRV-DC\\bzhang$\\Documents\\TSTI\\SIN\\Sequence 2\\codes and stuffs\\Agora-TSTI_games-web\\objets\\background.png") ;
  background-color: #1f2833;
}

#button-menu{
  padding: 12px 24px; background-color: #30beb7; font-size: 20px;
}

#h1style{
  display:flex; 
  justify-content: center; 
  align-items: center;
  color: #66FCF1;
  font-size: 50px;
}

#title-style{
  font-size: 38px;
  color: #42a4f5;
}
#text-style{
  font-size: 28px;
  color: #add8ff;
}

#grid-wapper{
  display: grid;
  grid-template-columns: auto;
  gap: 10%;
  grid-template-rows: auto;
  justify-content: center;
}
#grid-1{
  grid-column: 1; grid-row: 1;
}
#grid-2{
  grid-column: 2; grid-row: 1;
}
#grid-3{
  grid-column: 1; grid-row: 2;
}
#grid-4{
  grid-column: 2; grid-row: 2;
}