#background{
  background-image: url("\\\\SRV-DC\\bzhang$\\Documents\\TSTI\\SIN\\Sequence 2\\codes and stuffs\\Agora-TSTI_games-web\\objets\\background.png") ;
  background-color: #1f2833;
}

#button-menu{
  padding: 12px 24px; background-color: #30beb7; font-size: 20px;
}

#h1style{
  display:flex; 
  justify-content: center; 
  align-items: center;
  color: #66FCF1;
}
#grid-wapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  grid-auto-rows: minmax(100xp, auto);
  
}